@function dynamic-color($color, $lightness: 50, $dark-color: $brand-black, $light-color: $brand-white) {
     @if (lightness($color) > $lightness){
        @return $dark-color; // Lighter background, return dark color
    }
    @else {
         @return $light-color; // Darker background, return light color
    }
}

@function tint($color, $percentage) {
  @return mix(#fff, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(#000, $color, $percentage);
}

@mixin placeholder($color) {
	&:-moz-placeholder {
		color: $color; // Firefox 4-18
	}

	&::-moz-placeholder {
		color: $color; // Firefox 19+
	}

	&:-ms-input-placeholder {
		color: $color; // Internet Explorer 10+
	}

	&::-webkit-input-placeholder {
		color: $color; // Safari and Chrome
	}
}

// Gradients
@mixin gradient-directional($startColor: lighten($brand-color-c, 30%), $endColor: lighten($brand-color-c, 20%), $deg: 120deg) {
	background-color: mix($startColor, $endColor);
	background-repeat: repeat-x;
	background-position-x: -50%;
	background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
	background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
	background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
	background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
	background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}

@mixin gradient-text($startColor: lighten($brand-color-c, 30%), $endColor: darken($brand-color-c, 20%), $deg: 120deg) {
	color: mix($startColor, $endColor);

	 @supports(-webkit-background-clip: text){
		padding-bottom: 3px;

		@include gradient-directional($startColor, $endColor, $deg);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
}

@mixin gradient-text-reset() {
	padding-bottom: 0;
	background: none;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}
