@mixin vertical-align {
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
}

@mixin vertical-align-table {
	display: table;
	
	.wrapper {
		display: table-cell;
		vertical-align: middle;
	}
}

@mixin padding-section {
	padding-top: 150px;
	padding-bottom: 300px;

	@include breakpoint(max-width $breakpoint-sm-width) {
		padding-top: 60px;
		padding-bottom: 170px;
  		
	}
}

@mixin title-header-padding {
	padding-top: 120px;
	padding-bottom: 150px;

	@include breakpoint(max-width $breakpoint-sm-width) { 
		padding-top: 60px;
		padding-bottom: 75px;
	}
}

@mixin hidden-xs { 
	@include breakpoint(max-width $breakpoint-sm-width) {
		display: none;
	}
}

@mixin hidden-sm {
	@include breakpoint($breakpoint-sm-width $breakpoint-sm-width-max) {
		display: none;
	}	
}


@mixin hidden-md {
	@include breakpoint($breakpoint-md-width $breakpoint-md-width-max) {
		display: none;
	}	
}

@mixin hidden-lg {
	@include breakpoint($breakpoint-lg-width) {
		display: none;
	}
}
