p {
    margin-bottom: $vr*3;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    margin-bottom: $vr*2;
}

code,
kbd,
pre,
samp {
    font-family: $font-family-mono;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
}

.h1 {
    margin-bottom: $vr*3;
    font-size: $vr*15;
    line-height: 1;
    text-transform: uppercase;

    @include breakpoint($md) {
        font-size: $vr*23;
        margin-bottom: $vr*8;
    }
}

.h2 {
    margin-bottom: $vr*5;
    font-size: $vr*5;
    line-height: 1.1;

    @include breakpoint($md) {
        font-size: $vr*8;
    }
}

.h3 {
    margin-bottom: $vr*3;
    font-size: $vr*4;
    line-height: 1.1;

    @include breakpoint($md) {
        font-size: $vr*6;
    }
}

.h4 {
    margin-bottom: $vr*3;
    font-size: $vr*3;
    line-height: 1.1;

    @include breakpoint($md) {
        font-size: $vr*4;
    }
}

.text--gradient {
    @include gradient-text();
}

.text--color-a {
    color: $brand-color-a
}

.text--small {
    font-size: $font-size-small;
}

