p {
    margin-bottom: $vr*3;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    margin-bottom: $vr*2;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
    margin-bottom: $vr*3;
}

.h1,
h1 {
    font-size: $vr*14;
}
.h2,
h2 {
    font-size: $vr*10;
}
.h3,
h3 {
    font-size: $vr*8;
}
.h4,
h4 {
    font-size: $vr*6;
}

.h5,
h5 {
    font-size: $vr*4;
}
