// buttons

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn {
	display: inline-block;
	margin-bottom: $vr*3;
	padding: $btn-padding-y-default $btn-padding-x-default;
	border: $btn-border-width solid $brand-color-d;
	border-radius: 10px;
	background-color: $brand-color-d;
	background-image: none;
	box-shadow: none;
	color: $brand-white;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: $font-weight-bold;
	font-size: $vr*4;
	font-family: $font-family-base;
	cursor: pointer;
	transition: background 250ms, border-color 250ms;

	-webkit-font-smoothing: antialiased; // get rid of faux bolding
	@include breakpoint($md) {
		padding: $btn-padding-y-large $btn-padding-x-large;
		font-size: $vr*3;
	}

	&:hover,
	&:focus {
		border-color: darken($brand-color-d, 10%);
		background: darken($brand-color-d, 10%);
		box-shadow: none;
	}

	&:active,
	&.active {
		outline: 0;
		box-shadow: none;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		box-shadow: none;
		opacity: .65;
		cursor: default;
		pointer-events: none;
	}
}

.btn__highlight {
	color: $brand-color-c;
}

// themes
.btn--style-a {
	background-color: $brand-color-a;
	border-color: darken($brand-color-a, 10%);
	color: #FFF;
	@include gradient-directional(lighten($brand-color-a, 10%), darken($brand-color-a, 10%), 180deg)

	&:hover,
	&:focus {
		background: darken($brand-color-a, 20%);
		border-color: darken($brand-color-a, 20%);
		@include gradient-directional(darken($brand-color-a, 10%), darken($brand-color-a, 20%), 180deg)
	}
}

.btn--style-b {
	background-color: $brand-color-b;
	border-color: darken($brand-color-b, 10%);
	color: #FFF;
	@include gradient-directional(lighten($brand-color-b, 10%), darken($brand-color-b, 10%), 180deg)

	&:hover,
	&:focus {
		background: darken($brand-color-b, 20%);
		border-color: darken($brand-color-b, 20%);
		@include gradient-directional(darken($brand-color-b, 10%), darken($brand-color-b, 20%), 180deg)
	}
}
