.carousel {
    position: relative;
    padding: 0 15%;
}

.carousel__arrow {
    position: absolute;
    top: 50%;
    left: 0;
    border: none;
    background: none;
    color: inherit;
    transform: translateY(-50%);
    font-size: 150%;

    @include breakpoint($md) {
        font-size: 200%;
    }

    span {
        @include visually-hidden;
    }
}

.carousel__next {
    right: 0;
    left: auto;
}

.carousel__slide {
    width: 100%;
}
