.header {
    position: relative;
    display: block;
    padding: $vr*2 0;
    width: 100%;
    background: $brand-color-e;
    color: $brand-white;
    z-index: $z-mid;
}

.header__title {
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: $vr*4;
    font-weight: $font-weight-bold;
    border-bottom: 2px solid;
}
