.list--style-a {
    margin-bottom: $vr*5;

    @include breakpoint($md){
        font-size: $font-size-large;
    }

    .list__item {
        position: relative;
        padding-left: 45px;
    }

    .list__bullet {
        color: $brand-color-a;
        font-size: $font-size-base*2;
        position: absolute;
        right: calc(100% - 35px);
        top: -5px;

        @include breakpoint($md){
            font-size: $font-size-large*2;
        }
    }
}

.list--style-b {
    list-style: disc inside;
    margin-left: 15px;
    margin-bottom: $vr*5;
}

.list__highlight {
    font-weight: $font-weight-medium;
    text-transform: uppercase;
}
