.section {
    position: relative;
    z-index: $z-mid;
    padding: $vr*4 0;
    background: $background-color;

    @include breakpoint($md) {
        padding: $vr*8 0;
    }
}

.section__title {
    @extend .h3;
}

.section--theme-a {
    background: $brand-white;
}

.section--theme-b {
    background: $brand-color-e;
    color: $brand-white;
}

.section--theme-c {
    background: tint($brand-color-c, 70%);
}

.section--theme-d {
    background: $brand-white url(/img/4339582047_7e364c29ea_o.jpg) no-repeat center right/auto 100%;

    @include breakpoint($md) {
        background-position: center left;
    }
}

.section--style-a {
    z-index: $z-mid + 3;

    &::after {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border-width: 30px 30px 0 30px;
        border-style: solid;
        border-color: $background-color transparent transparent transparent;
        content: '';
        transform: translateX(-50%);

        @include breakpoint($md) {
            border-width: 40px 40px 0 40px;
        }
    }

    &.section--theme-a::after {
        border-top-color: $brand-white;
    }

    &.section--theme-b::after {
        border-top-color: $brand-color-e;
    }

    &.section--theme-c::after {
        border-top-color: tint($brand-color-c, 70%);
    }

    + .section {
        padding-top: $vr*4 + 30px;

        @include breakpoint($md) {
            padding-top: $vr*8 + 20px;
        }
    }

    // dumb hack, I can't be bothered making it better, sorry
    + .section--style-a {
        z-index: $z-mid + 2;
    }

    + .section--style-a + .section--style-a {
        z-index: $z-mid + 1;
    }
}
