.sticker--style-a {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotateZ(10deg);
    margin: 25px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        background: $brand-color-a;
        content: "";
        transform: rotateZ(30deg);
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        background: $brand-color-a;
        content: "";
        transform: rotateZ(60deg);
    }

    .sticker__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        display: flex;
        padding: 10px;
        width: 100%;
        height: 100%;
        background: $brand-color-a;
        color: $brand-white;
        text-align: center;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
        font-size: $vr*5;
        line-height: 1;
        transform: translate(-50%, -50%);

        align-items: center;
        justify-content: center;
    }
}

.sticker__container {
    position: relative;
    display: inline-block;
    padding: $vr*8 $vr*8 0 0;

    .sticker {
        position: absolute;
        top: 0;
        right: 0;
    }
}
