blockquote {
    position: relative;
    display: inline-block;
    padding: $vr*3;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: $vr*3;
    line-height: 1.1;

    @include breakpoint($md) {
    font-size: $vr*5;
        padding: $vr*4;
    }

    &::after,
    &::before {
        position: absolute;
        font-size: 200%;

    }

    &::before {
        top: 0;
        left: 0;
        content: open-quote;
    }

    &::after {
        right: 0;
        bottom: 0;
        content: close-quote;
    }

    footer {
        font-style: italic;
        font-size: $font-size-small;
    }
}
